header {
    margin-top: 85px;
    margin-left: 120px;
    margin-right: 120px;
}

/* -------nav styles---------- */
.nav-container {
    display: flex;
    justify-content: space-between;

}

.nav-container ul {
    display: flex;
}

.nav-container ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-container ul li {
    list-style: none;
    margin-left: 34px;

}

.nav-title {
    font-weight: 700;
    font-size: 24px;
}

/* ----------banner styles------------ */
.banner {
    background-image: url('/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 44%;
    background-position: right;
    margin-top: 50px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner img {
    width: 400px;
    height: 380px;
}
.banner-title{
    font-weight: 700;
    font-size: 52px;
    margin-bottom: -10px;
}
.banner-description{
    font-weight: 600;
    color: rgb(95, 92, 92);
}
.btn-primary{
    font-weight: 700;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    border: 0;
    border-radius: 30px;
}
/* -------------------------
-----main style--------
-------------------------- */

.link{
    text-align: center;
    margin-bottom: 80px;
    box-shadow: .5px .1px gray;  
}
.link-container img{
    width: 80px;
    height: 40px;
    padding: 10px 30px;
}
/* ---------------product-------------- */
.product-container{
    text-align: center;
    padding: 50px 200px;
}
.product-title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 80px;
}
.product img{
    width: 300px;
    height: 250px;
}
.fa-star.color{
    color: rgb(206, 176, 7);
}
.fa-star.empty{
    color: rgb(168, 168, 165);
}
.star-rate{
    padding-left: 18px;
}
.product-author-description{
    font-weight: 700;
    font-size: 14px;
    color: rgb(97, 91, 91);
}
.ganjam{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
}
.products{
    box-shadow: 10px 25px 10px 15px rgb(241, 238, 238);
}
.button{
    display: flex;
    justify-content: right;
}
.btn{
    color: rgb(192, 138, 138);
    font-size: 18px;
    border: .5px solid rgb(189, 188, 188);
}

/* ---------service---------- */
.service-point{
    margin-bottom: 100px;
}
.service{
    padding-left: 280px;
    padding-right: 250px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service-img{
    height: 250px;
    width: 400px;
}
.service-title{
    font-weight: 700;
    font-size: 50px;
}
.service-description{
    font-weight: 700;
    font-size: 15px;
    color: rgb(105, 103, 103);
}
.btn-secondary{
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background: #E02C6D;
    border: 0;
}
footer{
    color: white;
    height: 250px;
    background-color: rgb(17, 14, 17);
}

.footer{
    text-align: center;
    padding-top: 50px;
}
.footer-center{
    padding-right: 10px;
}



@media only screen and (max-width: 576px) {
    .header{
        margin-right: 2px;
    }
    .nav-container{
        margin-left: -110px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-container ul li{
        margin-left: 10px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 50px;
        background-image: none;
    }
    .banner-title{
        font-size: 35px;
    }
    .link{
        box-shadow: none;
    }
    .product-container{
        padding: 0;
    }
    .ganjam{
        grid-template-columns: repeat(1, 1fr);
    }
    .service{
        margin-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-bottom: -70px;
    }
    .service img{
        width: 300px;
        height: 250px;
        margin-left: 20px;
    }
    .btn-secondary{
        margin-bottom: 15px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .ganjam{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-container{
        padding: 0;
    }
    .service-point{
        margin-bottom: 30px;
    }
    .service{
        margin-top: 40px;
        padding-left: 10px;
        padding-right: 5px;
        column-gap: 10px;
    }
}